include ./includes/_head.jade

body
	.container
		h3 go go! 
		h4 index.html

		br

		p.btn.btn-success
			a(href="page.html") page.html

		
		p.btn
			a(href="zoom.html") zoom.html



	script(src="js/jquery.min.js")