include ./includes/_head.jade

body
	.container
		h3 go go! 
		h4 zoom.html

		br

		p.btn.btn-success
			a(href="index.html") index.html
	
	
		.zoom-image
			img(src="http://www.deluxedrivers.com/wp-content/uploads/2013/03/paris-city-lights.jpg", width="512", height="320", alt="	", data-original="http://www.deluxedrivers.com/wp-content/uploads/2013/03/paris-city-lights.jpg")

	
		.zoom-carousel 
			img(src="http://www.deluxedrivers.com/wp-content/uploads/2013/03/paris-city-lights.jpg", class="zoom-thumbnail", width="100", height="100", alt="	", data-small="http://www.deluxedrivers.com/wp-content/uploads/2013/03/paris-city-lights.jpg", data-original="http://www.deluxedrivers.com/wp-content/uploads/2013/03/paris-city-lights.jpg")
			img(src="https://motorsportstalk.files.wordpress.com/2014/05/monaco-24-5a.jpeg", class="zoom-thumbnail", width="100", height="100", alt="	", data-small="https://motorsportstalk.files.wordpress.com/2014/05/monaco-24-5a.jpeg", data-original="https://motorsportstalk.files.wordpress.com/2014/05/monaco-24-5a.jpeg")
	

	script(src="js/jquery.min.js")
	script(src="js/zoom.js")