include ./includes/_head.jade

body
	.container
		h3 go go! 
		h4 zoom.html

		br

		p.btn.btn-success
			a(href="index.html") index.html
	
	
		.zoom-image
			img(src="http://www.deluxedrivers.com/wp-content/uploads/2013/03/paris-city-lights.jpg", width="256", height="160", alt="	", data-original="http://www.deluxedrivers.com/wp-content/uploads/2013/03/paris-city-lights.jpg")



	script(src="js/jquery.min.js")
	script(src="js/zoom.js")